/* reset & init */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  cursor: pointer;

  text-align: center;
  background-color: red;
  /* width: 100%; */
}

.like-btn img {
  height: 100%;
  width: 100%;
}

/*  */

.app-container {
  display: flex;
  justify-content: space-between;
}

/*  */

.input-container {
  background-color: aqua;
  width: 30%;
}

/*  */

.list-area {
  background-color: beige;
}

/*  */

.input-element {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.input-element input,
.input-element .select-element {
  width: 60%;
}

.input-element .select-element {
  display: flex;
}

.input-element .select-element select {
  width: 50%;
}

.input-element .select-element button {
  width: 50%;
}

.control-error {
  color: red;
}
