/* reset & init */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  cursor: pointer;

  text-align: center;
  background-color: blue;
  color: white;

  /* width: 100%; */
}

.like-btn img {
  height: 100%;
  width: 100%;
}

/*  */

.app-container {
  display: flex;
  background-color: aquamarine;
}

/*  */

.input-container {
  background-color: aqua;
  width: 50%;
}

/*  */

.input-element {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.input-element input,
.input-element .select-element {
  width: 60%;
}

.input-element .select-element {
  display: flex;
}

.input-element .select-element select {
  width: 50%;
}

.input-element .select-element button {
  width: 50%;
}

.control-error {
  color: red;
}

/*  */

.list-area {
  width: 50%;
  background-color: beige;
}

.list-area ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-container input {
  width: 80%;
}

/* Modal */

.modal {
  position: fixed;
  top: 25%;
  left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  border: none;
  padding-top: 2rem;
  width: 50%;
  height: 50%;
  /* max-width: 40rem; */
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
