/* reset & init */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
}

.like-btn img {
  height: 100%;
  width: 100%;
}

/*  */

.app-container {
  display: flex;
  justify-content: space-between;
}

/*  */

.input-container {
  background-color: aqua;
}

/*  */

.list-area {
  background-color: beige;
}
